<a href="https://colab.research.google.com/github/2403a52321-ktm/batch-12/blob/main/preprocessingsteps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data wrangling steps
filling null
duplicates
dropnull
rename
add new column
sort

In [ ]:
import pandas as pd
import numpy as np
data={
    "Name":["alice","bob","charlie","david","eve"],
    "age":[25,None,30,40,None],
    "city":["new york","paris","None","london","gudur"],
    "salary":[50000,60000,None,80000,90000]
}
df=pd.DataFrame(data)
print(df)

      Name   age      city   salary
0    alice  25.0  new york  50000.0
1      bob   NaN     paris  60000.0
2  charlie  30.0      None      NaN
3    david  40.0    london  80000.0
4      eve   NaN     gudur  90000.0

In [ ]:
df.isnull()

    Name    age   city  salary
0  False  False  False   False
1  False   True  False   False
2  False  False  False    True
3  False  False  False   False
4  False   True  False   False

In [ ]:
df['age']=df['age'].fillna(df['age'].mean())
df['city']=df['city'].fillna("unknown")
print(df)

      Name        age      city   salary
0    alice  25.000000  new york  50000.0
1      bob  31.666667     paris  60000.0
2  charlie  30.000000      None      NaN
3    david  40.000000    london  80000.0
4      eve  31.666667     gudur  90000.0

In [ ]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [ ]:
df1=df.drop_duplicates()
print(df1)

      Name        age      city   salary
0    alice  25.000000  new york  50000.0
1      bob  31.666667     paris  60000.0
2  charlie  30.000000      None      NaN
3    david  40.000000    london  80000.0
4      eve  31.666667     gudur  90000.0

In [ ]:
df1.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [ ]:
df2=df1.dropna(subset=["salary"])
print(df2)

    Name        age      city   salary
0  alice  25.000000  new york  50000.0
1    bob  31.666667     paris  60000.0
3  david  40.000000    london  80000.0
4    eve  31.666667     gudur  90000.0

In [ ]:
df2=df2.rename(columns={"Name":"employee_name","age":"Employee_age"})
print(df2)

  employee_name  Employee_age      city   salary
0         alice     25.000000  new york  50000.0
1           bob     31.666667     paris  60000.0
3         david     40.000000    london  80000.0
4           eve     31.666667     gudur  90000.0

In [ ]:
df2['Employee_age']=df2['Employee_age'].astype(int)
print(df2)

  employee_name  Employee_age      city   salary
0         alice            25  new york  50000.0
1           bob            31     paris  60000.0
3         david            40    london  80000.0
4           eve            31     gudur  90000.0

In [ ]:
df_filtered=df2[df2['salary']>60000]
print(df_filtered)

  employee_name  Employee_age    city   salary
3         david            40  london  80000.0
4           eve            31   gudur  90000.0

In [ ]:
df2['Bonus'] = df2['salary'] * 0.10
print(df2)

  employee_name  Employee_age      city   salary   Bonus
0         alice            25  new york  50000.0  5000.0
1           bob            31     paris  60000.0  6000.0
3         david            40    london  80000.0  8000.0
4           eve            31     gudur  90000.0  9000.0

In [ ]:
df2=df2.sort_values(by='salary',ascending=False)
print(df2)

  employee_name  Employee_age      city   salary   Bonus
4           eve            31     gudur  90000.0  9000.0
3         david            40    london  80000.0  8000.0
1           bob            31     paris  60000.0  6000.0
0         alice            25  new york  50000.0  5000.0

In [ ]:
df_group=df2.groupby('city')['salary'].mean()
print(df_group)

city
gudur       90000.0
london      80000.0
new york    50000.0
paris       60000.0
Name: salary, dtype: float64

In [ ]:
import pandas as pd
import numpy as np
sales_missing=pd.DataFrame({
    'orderID':[101,102,103,104,105],
    'product':['laptop','mobile','tablet',None,'headphones'],
    'Quantity':[2,None,5,3,1],
    'price':[50000,20000,150000,30000,None],
    "city":["delhi",'mumbai',None,'chennai','hyderabad']
})
print(sales_missing)

   orderID     product  Quantity     price       city
0      101      laptop       2.0   50000.0      delhi
1      102      mobile       NaN   20000.0     mumbai
2      103      tablet       5.0  150000.0       None
3      104        None       3.0   30000.0    chennai
4      105  headphones       1.0       NaN  hyderabad

In [ ]:
sales_missing.duplicated()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [ ]:
sales_missing.drop_duplicates()

   orderID     product  Quantity     price       city
0      101      laptop       2.0   50000.0      delhi
1      102      mobile       NaN   20000.0     mumbai
2      103      tablet       5.0  150000.0       None
3      104        None       3.0   30000.0    chennai
4      105  headphones       1.0       NaN  hyderabad

In [ ]:
sales_missing.dropna()

   orderID product  Quantity    price   city
0      101  laptop       2.0  50000.0  delhi

In [ ]:
sales_missing['Quantity']=sales_missing['Quantity'].fillna(sales_missing['Quantity'].mean())
sales_missing['price']=sales_missing['price'].fillna(sales_missing['price'].mean())
sales_missing['city']=sales_missing['city'].fillna("unknown")
print(sales_missing)

   orderID     product  Quantity     price       city
0      101      laptop      2.00   50000.0      delhi
1      102      mobile      2.75   20000.0     mumbai
2      103      tablet      5.00  150000.0    unknown
3      104        None      3.00   30000.0    chennai
4      105  headphones      1.00   62500.0  hyderabad

In [ ]:
sales_missing=sales_missing.rename(columns={'orderID':'OrderID','product':'Product','Quantity':'Quantity','price':'Price','city':'City'})
print(sales_missing)

   OrderID     Product  Quantity     Price       City
0      101      laptop      2.00   50000.0      delhi
1      102      mobile      2.75   20000.0     mumbai
2      103      tablet      5.00  150000.0    unknown
3      104        None      3.00   30000.0    chennai
4      105  headphones      1.00   62500.0  hyderabad

In [ ]:
sales_missing=sales_missing.groupby('City')['Price'].mean()
print(sales_missing)

City
chennai       30000.0
delhi         50000.0
hyderabad     62500.0
mumbai        20000.0
unknown      150000.0
Name: Price, dtype: float64