In [ ]:
my_list=[1,2,3,"hello",True]
print(my_list)

[1, 2, 3, 'hello', True]

In [ ]:
my_tuple=(1,2,"hello",True)
print(my_tuple)

(1, 2, 'hello', True)

In [ ]:
my_dictionary={"name":"Alice","age":30}
print(my_dictionary)

{'name': 'Alice', 'age': 30}

In [ ]:
import pandas as pd
data={"Name":["Bhavani","Sahiti","Swathika"],"Age":[19,19,18],"City":['Gudur','Maharasta','Jagityal']}
df=pd.DataFrame(data)
print(df)
df.to_csv("data.csv")

       Name  Age       City
0   Bhavani   19      Gudur
1    Sahiti   19  Maharasta
2  Swathika   18   Jagityal

In [ ]:
import pandas as pd
data={"Name":["Bhavya","Bhavitha","Rishika","Sravika","Anu","Rishi","Siri"],"Age":[19,19,20,21,22,23,24],"City":["Hyd","Hmk","Warangal","Karimnagar","Delhi","Chennai","Khammam"]}
df1=pd.DataFrame(data)
print(df1)
df1.to_csv("data1.csv")

       Name  Age        City
0    Bhavya   19         Hyd
1  Bhavitha   19         Hmk
2   Rishika   20    Warangal
3   Sravika   21  Karimnagar
4       Anu   22       Delhi
5     Rishi   23     Chennai
6      Siri   24     Khammam

In [ ]:
merge_df=pd.concat([df,df1])
print(merge_df)

       Name  Age        City
0   Bhavani   19       Gudur
1    Sahiti   19   Maharasta
2  Swathika   18    Jagityal
0    Bhavya   19         Hyd
1  Bhavitha   19         Hmk
2   Rishika   20    Warangal
3   Sravika   21  Karimnagar
4       Anu   22       Delhi
5     Rishi   23     Chennai
6      Siri   24     Khammam